/* Starting Styles for Converse Challenge */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

/* Practice using CLASSES to style elements rather than ELEMENT selectors
(and don't use ID# selectors) */

/* .product - wraps the entire content */
.info{
  flex: 1;
}

.product {
  width: 825px;
  border: 4px solid black;
  margin: 30px auto;
  position: relative; /* required for other elements to use absolute */
  flex: 1;
}

.title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #dddddd; /*grey*/
  color: #020202; /*light grey*/
  padding: 4px 0;
}

/* Product Information */
.price {
  font-size: 20px;
  font-weight: bold;
}

.shipping {
  text-transform: uppercase;
  color: rgb(112, 112, 112);
  font-weight: bold;
  font-size: 14px;
}

/* style links always list all 4 states in order LVHA */
/* here link and visited are same style */
.more-info:link,
.more-info:visited {
  color: rgb(0, 0, 0); /*black*/
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* apply style to both hover and active states */
.more-info:hover,
.more-info:active {
  text-decoration: none;
  color: #1d1d1d;
}
/*END of Product Information*/

/* Product Details */
.details{
  flex: 1;
}

.details-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.details-list {
  margin-left: 20px;
  margin-bottom: 15px;
  list-style: square;
  line-height: 1.5;
}

.details-list li {
  margin-bottom: 8px;
}
/*END of Product Details*/

/*Add to Cart */
.add-cart {
  background-color: #000; /*black*/
  color: #fff; /*white*/
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
}

/* add hover pseudo-class to .add-cart style */
.add-cart:hover {
  background-color: #fff;
  color: #000;
}
/*END of Add to Cart*/

/*Color Blocks*/
.color {
  background-color: #000; /*black*/
  width: 25px;
  height: 25px;
}

.color-red {
  background-color: #ec2f2f; /*red*/
}
.color-blue {
  background-color: #2224b2; /*blue*/
}
.color-yellow {
  background-color: #f0bf1e; /*yellow*/
}
.color-green {
  background-color: #0bff02; /*green*/
}
.color-brown {
  background-color: #8a4c06; /*brown*/
}
/*End of Color Blocks */

/*Sale in Corner*/
.sale {
  background-color: #ec2f2f; /*red*/
  display: inline-block; /* better way to set width */
  color: #fff; /*white*/
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative; /* required for other elements to use absolute */
  position: absolute; /*must also set parent container to relative */
  top: -20px;
  left: -35px;
}
/*END of Sale*/

/*Flexbox Layout*/
/*Determine which classes need to be flex containers and which are flex items */
.info-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.row{
  display: flex;
  gap: 30px;
}
.colors {
  display: flex;
  flex-direction: row;
  gap: 12px;
}